html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-contacto{
    height: 100%;
}

.modo-oscuro {
    background: linear-gradient(#555555, black);
    color: #fafafa;
  }

.modo-oscuro #carru {
    opacity: 0.8;
}

.azul {
    background-color: #0cc0df;
    font-family: 'Josefin Sans', sans-serif;
}
.centrado {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav-link {
    text-align: center;
}

.nav-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.gradient {
    background: linear-gradient(white, #cccccc);
}

.carousel {
    max-width: 1000px; /* Cambia el tamaño máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
  }
  .carousel-inner {
    max-height: 1000px; /* Cambia la altura máxima del carrusel */
  }

a img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.tamaño {
    height: 300px;
    width: 300px;
}

.accordion-body {
    display: flex;
    align-items: center;
}
  
.img-container {
    margin-right: 20px;
}
  
.description {
    margin-top: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

footer p{
    margin: 2px 0;
    font-size: large;
}

footer{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #555555;
    color: white;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

.fotofoot {
    width: 150px;
}

.fotofoot:hover{
    transform: scale(1.0);
}

a.foot {
    color: white;
}

.nombre {
    font-size: x-large
}

.icon {
    position: fixed;
    bottom: 5px;
    right: 15px;
}
  
.icon img {
    width: 40px;
    height: 40px;
}

.main-contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0cc0df;
    padding: 10px 5px;
}

form{
    height: 100%;
    width: 50%;
    text-align: center;
    background-color: #0cc0df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input-label{
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    width: 80%;
}

.input-padron {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 80%;
    border-radius: 20px;
}

.label-op{
    margin-right: 5px;
    margin-left: 5px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: #0cc0df;
    border-radius: 10px;
    border: 2px solid #0c6fdf;
    transition: 1s all;
    cursor:pointer;
    margin: 10px 10px;
}

.enviar:hover{
    background: #0c6fdf;
    transform: scale(1.2);
}

.div-contact{
    justify-content: center;
    height: 100%;
    font-family: 'Josefin Sans';
    color: white;
    border-radius: 50px;
    width: 50%;
    display: flex;
}

.div-contact img{
    border-radius: 50px;
    margin: auto auto;
    height: 100%;
}

.t-d-contact{
    visibility: hidden;
}

.p-d-contact{
    visibility: hidden;
}

legend{
    font-weight: bold;
}

@media (max-width: 1000px) {
    .div-contact{
        display: none;
    }

    .div-contact img{
        display: none;
    }

    form{
        width: 80%;
    }
}

@media (max-width: 900px) {

    body{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .main-contacto{
        height: 100%;
        flex-direction: column;
        width: 100%;
        align-content: center;
        justify-content: space-around;
    }

    form{
        width: 80%;
    }

    .div-contact{
        width: 80%;
    }

    .t-d-contact{
        font-weight: bold;
        font-size: 60px;
        visibility: visible;
    }

    .p-d-contact{
        font-weight: bold;
        visibility: visible;
    }
}
  
@media (max-width: 768px) {
    
.img-container {
      margin-right: 10px;
}
    
.description {
      font-size: 14px;
}
  }

@media (max-width: 520px) {
    .enviar{
        width: 70%;
    }
}  

.derecha {
    justify-content: flex-end;
}

.acordeon {
height: 200px;
width: 200px;
}
